<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         processIsolation="true"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="OGP">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
